#personCheckModal.modal.fade(
    aria-labelledby="personCheckModal",
    aria-hidden="true"
)
    .modal-dialog.modal-sm.modal-dialog-centered.modal-dialog-scrollable
        .modal-content.text-center
            .modal-body
                .vstack.gap-3
                    .vstack.gap-2
                        i.bi.bi-exclamation-triangle.opacity-25.display-1
                        span 개인정보 변경을 위해 #[br] 비밀번호 확인이 필요합니다.
                    input.form-control(type="password")
            .modal-footer.justify-content-center
                .hstack.gap-3.w-100
                    a.btn.btn-lg.btn-primary.w-100(
                        href="/src/view/sysMngr/system/userManagement.pug"
                    ) 확인
                    button.btn.btn-lg.btn-secondary.w-100(
                        data-bs-dismiss="modal",
                        aria-label="Close"
                    ) 취소

#pwCheckModal.modal.fade(aria-labelledby="pwCheckModal", aria-hidden="true")
    .modal-dialog.modal-sm.modal-dialog-centered.modal-dialog-scrollable
        .modal-content.text-center
            .modal-body
                .vstack.gap-3
                    .vstack.gap-2
                        i.bi.bi-exclamation-triangle.opacity-25.display-1
                        span 비밀번호 변경을 위해 #[br] 기존 비밀번호 확인이 필요합니다.
                    input.form-control(type="password")
            .modal-footer.justify-content-center
                .hstack.gap-3.w-100
                    button.btn.btn-lg.btn-primary.w-100(
                        data-bs-toggle="modal",
                        data-bs-target="#pwChangeModal"
                    ) 확인
                    button.btn.btn-lg.btn-secondary.w-100(
                        data-bs-dismiss="modal",
                        aria-label="Close"
                    ) 취소

#pwChangeModal.modal.fade(aria-labelledby="pwChangeModal", aria-hidden="true")
    .modal-dialog.modal-sm.modal-dialog-centered.modal-dialog-scrollable
        .modal-content.text-center
            .modal-body
                .vstack.gap-3
                    .vstack.gap-2
                        label.form-label.text-start.fw-bold(for="newPassword") 새 비밀번호
                        input#newPassword.form-control(type="password")
                    .vstack.gap-2
                        label.form-label.text-start.fw-bold(
                            for="newPasswordCheck"
                        ) 새 비밀번호 확인
                        input#newPasswordCheck.form-control(type="password")
            .modal-footer.justify-content-center
                .hstack.gap-3.w-100
                    button.btn.btn-lg.btn-primary.w-100(
                        data-bs-dismiss="modal",
                        aria-label="Close"
                    ) 확인
                    button.btn.btn-lg.btn-secondary.w-100(
                        data-bs-dismiss="modal",
                        aria-label="Close"
                    ) 취소

#statChangeModal.modal.fade(
    aria-labelledby="statChangeModal",
    aria-hidden="true"
)
    .modal-dialog.modal-sm.modal-dialog-centered.modal-dialog-scrollable
        .modal-content.text-center
            .modal-body
                .hstack.gap-3
                    input#statActive.btn-check(
                        type="radio",
                        name="statRadio",
                        autocomplete="off"
                    )
                    label.btn.btn-outline-success.w-100(for="statActive")
                        .vstack.gap-2
                            i.bi.bi-check-circle.display-5
                            span 사용
                    input#statLock.btn-check(
                        type="radio",
                        name="statRadio",
                        autocomplete="off"
                    )
                    label.btn.btn-outline-danger.w-100(for="statLock")
                        .vstack.gap-2
                            i.bi.bi-shield-lock.display-5
                            span 잠금
                    input#statDelete.btn-check(
                        type="radio",
                        name="statRadio",
                        autocomplete="off"
                    )
                    label.btn.btn-outline-secondary.w-100(for="statDelete")
                        .vstack.gap-2
                            i.bi.bi-trash.display-5
                            span 삭제
            .modal-footer.justify-content-center
                .hstack.gap-3.w-100
                    button.btn.btn-lg.btn-primary.w-100(
                        data-bs-dismiss="modal",
                        aria-label="Close"
                    ) 확인
                    button.btn.btn-lg.btn-secondary.w-100(
                        data-bs-dismiss="modal",
                        aria-label="Close"
                    ) 취소
