extends ../../../templates/project

block contents
    +breadcrumb(["프로젝트", "프로젝트 수정"], "main")
    section#wrapper
        .vstack.gap-4.px-5.py-4
            .d-flex.justify-content-between.align-items-center
                h4.fw-bold 프로젝트 수정
                .hstack.gap-3
                    a.btn.btn-secondary(
                        href="/src/view/sysMngr/project/project.pug"
                    )
                        .hstack.gap-2
                            i.bi.bi-list.lh-1
                            span 목록
                    button.btn.btn-primary(
                        data-bs-toggle="modal",
                        data-bs-target="#saveCheckModal"
                    )
                        .hstack.gap-2
                            i.bi.bi-save.lh-1
                            span 저장
            .row.g-4
                .col-12.col-lg-6
                    .vstack.gap-2
                        label.form-label.fw-bold(for="projectTitle") 프로젝트 명
                        input#projectTitle.form-control(type="text")
                .col-12.col-lg-6
                    .vstack.gap-2
                        label.form-label.fw-bold(for="projectTypeRadio") 프로젝트 유형
                        #projectTypeRadio.btn-group(role="group")
                            input#typeEtc.btn-check(
                                type="radio",
                                name="projectTypeRadio",
                                autocomplete="off",
                                checked
                            )
                            label.btn.btn-outline-primary(for="typeEtc") 기타
                            input#typeLive.btn-check(
                                type="radio",
                                name="projectTypeRadio",
                                autocomplete="off"
                            )
                            label.btn.btn-outline-primary(for="typeLive") 운영
                            input#typeDev.btn-check(
                                type="radio",
                                name="projectTypeRadio",
                                autocomplete="off"
                            )
                            label.btn.btn-outline-primary(for="typeDev") 개발
            .vstack.gap-2
                label.form-label.fw-bold(for="projectEditor") 설명
                textarea#projectExplain.form-control(rows="5")
            .row.row-cols-1.row-cols-lg-2.g-4.flex-grow-1
                .col
                    .vstack.gap-2.h-100
                        .d-flex.justify-content-between.align-items-center
                            label.form-label.fw-bold(for="projectEditor") 프로젝트 관리자
                            .hstack.gap-2
                                button.btn.btn-sm.btn-primary(
                                    data-bs-toggle="modal",
                                    data-bs-target="#projectManagerModal"
                                )
                                    .hstack.gap-2
                                        i.bi.bi-plus-lg
                                        span 관리자 추가
                                button.btn.btn-sm.btn-secondary(
                                    data-bs-toggle="modal",
                                    data-bs-target="#deleteCheckModal"
                                )
                                    .hstack.gap-2
                                        i.bi.bi-x-lg
                                        span 관리자 삭제
                        .card.mb-2.h-100
                            ul.list-group.list-group-flush
                                li.list-group-item
                                    .d-flex.justify-content-between.align-items-center
                                        .hstack.gap-2
                                            .form-check
                                                input#checkPerson1.form-check-input(
                                                    type="checkbox",
                                                    value="checkPerson1"
                                                ) 
                                            i.bi.bi-person-gear
                                            span 관리자(admin)
                                        .hstack.gap-2
                                            i.bi.bi-envelope
                                            span admin@gridone.co.kr
                                        span.text-muted 2022-11-18
                                li.list-group-item
                                    .d-flex.justify-content-between.align-items-center
                                        .hstack.gap-2
                                            .form-check
                                                input#checkPerson2.form-check-input(
                                                    type="checkbox",
                                                    value="checkPerson2"
                                                ) 
                                            i.bi.bi-person-gear
                                            span 관리자(admin)
                                        .hstack.gap-2
                                            i.bi.bi-envelope
                                            span admin@gridone.co.kr
                                        span.text-muted 2022-11-18
                                li.list-group-item
                                    .d-flex.justify-content-between.align-items-center
                                        .hstack.gap-2
                                            .form-check
                                                input#checkPerson3.form-check-input(
                                                    type="checkbox",
                                                    value="checkPerson3"
                                                ) 
                                            i.bi.bi-person-gear
                                            span 관리자(admin)
                                        .hstack.gap-2
                                            i.bi.bi-envelope
                                            span admin@gridone.co.kr
                                        span.text-muted 2022-11-18
                                li.list-group-item
                                    .d-flex.justify-content-between.align-items-center
                                        .hstack.gap-2
                                            .form-check
                                                input#checkPerson4.form-check-input(
                                                    type="checkbox",
                                                    value="checkPerson4"
                                                ) 
                                            i.bi.bi-person-gear
                                            span 관리자(admin)
                                        .hstack.gap-2
                                            i.bi.bi-envelope
                                            span admin@gridone.co.kr
                                        span.text-muted 2022-11-18
                                li.list-group-item
                                    .d-flex.justify-content-between.align-items-center
                                        .hstack.gap-2
                                            .form-check
                                                input#checkPerson5.form-check-input(
                                                    type="checkbox",
                                                    value="checkPerson5"
                                                ) 
                                            i.bi.bi-person-gear
                                            span 관리자(admin)
                                        .hstack.gap-2
                                            i.bi.bi-envelope
                                            span admin@gridone.co.kr
                                        span.text-muted 2022-11-18
                        +pagination
                .col
                    .vstack.gap-2.h-100
                        .d-flex.justify-content-between.align-items-center
                            label.form-label.fw-bold(for="projectEditor") 로봇
                            .hstack.gap-2
                                button.btn.btn-sm.btn-primary(
                                    data-bs-toggle="modal",
                                    data-bs-target="#projectRobotModal"
                                )
                                    .hstack.gap-2
                                        i.bi.bi-plus-lg
                                        span 로봇 추가
                                button.btn.btn-sm.btn-secondary(
                                    data-bs-toggle="modal",
                                    data-bs-target="#deleteCheckModal"
                                )
                                    .hstack.gap-2
                                        i.bi.bi-x-lg
                                        span 로봇 삭제
                        .card.mb-2.h-100
                            ul.list-group.list-group-flush
                                li.list-group-item
                                    .hstack.gap-2
                                        .form-check
                                            input#checkRobot1.form-check-input(
                                                type="checkbox",
                                                value="checkRobot1"
                                            ) 
                                        i.bi.bi-robot
                                        span ibizbot_01
                                li.list-group-item
                                    .hstack.gap-2
                                        .form-check
                                            input#checkRobot2.form-check-input(
                                                type="checkbox",
                                                value="checkRobot2"
                                            ) 
                                        i.bi.bi-robot
                                        span ibizbot_02
                                li.list-group-item
                                    .hstack.gap-2
                                        .form-check
                                            input#checkRobot3.form-check-input(
                                                type="checkbox",
                                                value="checkRobot3"
                                            ) 
                                        i.bi.bi-robot
                                        span ibizbot_03
                                li.list-group-item
                                    .hstack.gap-2
                                        .form-check
                                            input#checkRobot4.form-check-input(
                                                type="checkbox",
                                                value="checkRobot4"
                                            ) 
                                        i.bi.bi-robot
                                        span ibizbot_04
                                li.list-group-item
                                    .hstack.gap-2
                                        .form-check
                                            input#checkRobot5.form-check-input(
                                                type="checkbox",
                                                value="checkRobot5"
                                            ) 
                                        i.bi.bi-robot
                                        span ibizbot_05
                        +pagination

block modal
    +saveCheckModal("/src/view/sysMngr/project/project.pug")
    #projectManagerModal.modal.fade(
        tabindex="-1",
        aria-labelledby="projectManagerModal",
        aria-hidden="true"
    )
        .modal-dialog.modal-lg.modal-dialog-centered.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5.fw-bold 프로젝트 관리자 추가
                .modal-body
                    .vstack.gap-4
                        .table-responsive
                            table#projectManagerTable.table.table-bordered
                                thead
                                    tr
                                        th
                                            .form-check
                                                input#checkAll.form-check-input.border-1(
                                                    type="checkbox",
                                                    name="boardCheck",
                                                    value="checkAll"
                                                )
                                        th #[span 성]
                                        th #[span 이름]
                                        th #[span E-Mail]
                                tbody
                                    tr
                                        td
                                            .form-check
                                                input#manager1.form-check-input.board-check(
                                                    type="checkbox",
                                                    name="boardCheck",
                                                    value="manager1"
                                                )
                                        td #[span 관]
                                        td #[span 리자]
                                        td #[span admin@gridone.co.kr]
                        +pagination
                .modal-footer.justify-content-center
                    .hstack.gap-3.w-100
                        button.btn.btn-lg.btn-primary.w-100(
                            data-bs-dismiss="modal",
                            aria-label="Close"
                        ) 추가
                        button.btn.btn-lg.btn-secondary.w-100(
                            data-bs-dismiss="modal",
                            aria-label="Close"
                        ) 취소

    #projectRobotModal.modal.fade(
        tabindex="-1",
        aria-labelledby="projectRobotModal",
        aria-hidden="true"
    )
        .modal-dialog.modal-lg.modal-dialog-centered.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5.fw-bold 프로젝트 로봇 추가
                .modal-body
                    .vstack.gap-4
                        .table-responsive
                            table#projectRobotTable.table.table-bordered
                                thead
                                    tr
                                        th
                                            .form-check
                                                input#checkAll.form-check-input.border-1(
                                                    type="checkbox",
                                                    name="boardCheck",
                                                    value="checkAll"
                                                )
                                        th #[span ID]
                                        th #[span 로봇명]
                                        th #[span 설명]
                                tbody
                                    tr
                                        td
                                            .form-check
                                                input#robot1.form-check-input.board-check(
                                                    type="checkbox",
                                                    name="boardCheck",
                                                    value="robot1"
                                                )
                                        td #[span 120]
                                        td #[span ibizbot_120]
                                        td #[span 관리자 전용 로봇]
                        +pagination
                .modal-footer.justify-content-center
                    .hstack.gap-3.w-100
                        button.btn.btn-lg.btn-primary.w-100(
                            data-bs-dismiss="modal",
                            aria-label="Close"
                        ) 추가
                        button.btn.btn-lg.btn-secondary.w-100(
                            data-bs-dismiss="modal",
                            aria-label="Close"
                        ) 취소
