extends ../../../templates/project

block contents
    +breadcrumb(["시스템", "이메일 설정"], "main")
    section#wrapper
        .vstack.gap-4.px-5.py-4
            .d-flex.justify-content-between.align-items-center
                h4.fw-bold 이메일 설정
                button.btn.btn-primary(
                    data-bs-toggle="modal",
                    data-bs-target="#loadingModal"
                )
                    .hstack.gap-2
                        i.bi.bi-save.lh-1
                        span 저장
            .card
                .card-body
                    .vstack.gap-4
                        .hstack.gap-2
                            h4.fw-bold 이메일 전송방식
                            small.text-muted SMTP 방식 선택시 설정파일(application.properties)에서 이메일 서버 설정 정보를 저장 후 서버를 재구동해야 합니다.
                        .row.g-4
                            .col-12.col-lg-6
                                .vstack.gap-2
                                    .hstack.justify-content-between
                                        label.form-label.fw-bold(
                                            for="emailType"
                                        ) 방식
                                        button.btn.btn-sm.btn-secondary(
                                            data-bs-toggle="modal",
                                            data-bs-target="#loadingModal"
                                        ) 테스트 메일
                                    select#emailType.form-select
                                        option(value="smtp") SMTP
                                        option(value="ssms") SSMS
                            .col-12.col-lg-6
                                .vstack.gap-2
                                    label.form-label.fw-bold(
                                        for="emailSendRadio"
                                    ) 전송방식
                                    #emailSendRadio.btn-group(role="group")
                                        input#typeIndividual.btn-check(
                                            type="radio",
                                            name="emailSendRadio",
                                            autocomplete="off",
                                            checked
                                        )
                                        label.btn.btn-outline-primary(
                                            for="typeIndividual"
                                        ) 개별전송
                                        input#typeBatch.btn-check(
                                            type="radio",
                                            name="emailSendRadio",
                                            autocomplete="off"
                                        )
                                        label.btn.btn-outline-primary(
                                            for="typeBatch"
                                        ) 일괄전송
            .row.g-4
                .col-12.col-lg-6
                    .vstack.gap-4
                        .card
                            .card-body
                                .vstack.gap-4
                                    h4.fw-bold 이메일 알람
                                    .hstack.gap-4
                                        .form-check
                                            input#typeDashError.form-check-input(
                                                type="checkbox",
                                                value=""
                                            )
                                            label.form-check-label(
                                                for="typeDashError"
                                            ) 대시보드 장애
                                        .form-check
                                            input#typeScriptError.form-check-input(
                                                type="checkbox",
                                                value=""
                                            )
                                            label.form-check-label(
                                                for="typeScriptError"
                                            ) 스크립트 실패
