extends ../../templates/base

block contents
    +breadcrumb(["실행", "실행 대기열"])
    section#wrapper
        .vstack.gap-4.px-5.py-4
            h4.fw-bold 실행 대기열
            .d-flex.justify-content-between.align-items-center
                span.fw-bold #[span.text-primary 1]개의 프로세스가 실행 대기중입니다.
                .hstack.gap-2
                    span.text-muted 최근 업데이트 : 2022-11-18 10:13:06
                    #update.hstack.gap-2.border.p-2.rounded-pill
                        button.btn.btn-primary.btn-icon.rounded-circle
                            .hstack.justify-content-center
                                i.bi.bi-arrow-clockwise.d-inline-flex
                        select
                            option(value="0") 자동갱신안함
                            option(value="5000") 5초
                            option(value="10000") 10초
                            option(value="30000") 30초
                            option(value="60000") 60초
                    button.btn.btn-primary(
                        data-bs-toggle="modal",
                        data-bs-target="#loadingModal"
                    )
                        .hstack.gap-2
                            i.bi.bi-arrow-left-right
                            span 대기열 재배치
                    button.btn.btn-secondary(
                        data-bs-toggle="modal",
                        data-bs-target="#deleteCheckModal"
                    )
                        .hstack.gap-2
                            i.bi.bi-x-lg
                            span 대기열 삭제
            .table-responsive
                table#executionWaitTable.table.table-bordered
                    thead
                        tr
                            th
                                .form-check
                                    input#checkAll.form-check-input.border-1(
                                        type="checkbox",
                                        name="boardCheck",
                                        value="checkAll"
                                    ) 
                            th #[span 번호]
                            th #[span 프로세스명]
                            th #[span 로봇]
                            th #[span 스크립트]
                            th #[span 실행구분]
                            th #[span 등록일자]
                            th #[span 대기열 삭제]
                    tbody
                        tr
                            td
                                .form-check
                                    input#board1.form-check-input.board-check(
                                        type="checkbox",
                                        name="boardCheck",
                                        value="board1"
                                    )
                            td #[span 1]
                            td #[span RPA_00_0001]
                            td #[span Robot_205]
                            td #[span= `[4] 트랜잭션-데이터셋8`]
                            td
                                .vstack.gap-0
                                    span 예약
                                    span 전체실행 4
                            td #[span 2022-01-09 #[br] 15:32:36]
                            td
                                a.btn.btn-sm.btn-secondary.py-0(href="#")
                                    .hstack.gap-1
                                        span 삭제
                                        i.bi.bi-x-lg
            +pagination
