// fullcalendar
script(src="/src/lib/browser.js")

// fullcalendar
script(src="/node_modules/fullcalendar/main.js")

// popup
script.
    function chooseExcludeSchedule() {
        const screenWidth = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
        const screenHeight = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

        const width = 1920;
        const height = 1080;
        const top = (screenHeight - height) / 2;
        const left = (screenWidth - width) / 2;

        return window.open(`/popup/chooseExcludeSchedule.html`, "영업일 선택", `fullscreen=yes,location=no,menubar=no,toolbar=no,resizable=no,width=${width},height=${height},top=${top},left=${left}`);
    }
