doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel="stylesheet", href="/src/scss/ie/bootstrap-ie11.scss")
        link(rel="stylesheet", href="/src/scss/styles.scss")
        title AutomateOne Manager
    body
        .vstack.gap-3.vw-100.vh-100.justify-content-center.align-items-center.text-center
            h1.fw-bold 인터넷 익스플로러(IE) 브라우저 지원 종료 안내
            .txt-box.fs-5
                | 인터넷 익스플로러(IE) 브라우저 서비스 지원이 #[span.text-danger 2022년 06월 15일 종료]됨에 따라
                br
                | 안전하고 원활한 AutomateOne Manager의 서비스 제공을 위해
                br
                | 구글 크롬 브라우저 및 MS 엣지 브라우저를 이용해 주시길 바랍니다.
            .hstack.gap-3.justify-content-center
                .browser
                    .vstack.gap-2.justify-content-center.align-items-center.text-center.w-100.h-100
                        img(
                            width="72",
                            height="72",
                            src="/src/assets/images/browser/chrome.png",
                            alt="Chrome"
                        )
                        span.fw-bold Google Chrome
                .browser
                    .vstack.gap-2.justify-content-center.align-items-center.text-center.w-100.h-100
                        img(
                            width="72",
                            height="72",
                            src="/src/assets/images/browser/edgium.png",
                            alt="MS-Edge"
                        )
                        span.fw-bold Microsoft Edge
        script(src="/src/lib/ie/bs-ie.js", defer="")
        script(src="/src/lib/ie/polyfill.opt.min.js", defer="")
