extends ../../../templates/project

mixin robotTableBody(index)
    tr
        td
            .form-check
                input.form-check-input.board-check(
                    id=`check${index}`,
                    type="checkbox",
                    name="boardCheck",
                    value=`check${index}`
                ) 
        td= index
        td #[span= `ibizbot-${index}`]
        td #[span 사용가능]
        td #[span -]
        td #[span -]
        td #[span -]
        td #[span -]
        td
            .form-check.form-switch
                input.form-check-input(
                    id=`robot-${index}`,
                    type="checkbox",
                    role="switch"
                )
        td
            a.btn.btn-sm.btn-primary.py-0(
                href="/src/view/sysMngr/robot/robot-modify.pug"
            )
                .hstack.gap-1
                    span 수정
                    i.bi.bi-pencil.lh-1

block contents
    +breadcrumb(["로봇 & 트레이너", "패치 관리"], "main")
    section#wrapper
        .vstack.gap-4.p-4
            h4.fw-bold 패치 관리
            nav
                ul.nav.nav-tabs(role="tablist")
                    li.nav-item(role="presentation")
                        button#nav-robot-tab.nav-link.active(
                            data-bs-toggle="tab",
                            data-bs-target="#nav-robot",
                            type="button",
                            role="tab",
                            aria-controls="nav-robot",
                            aria-selected="true"
                        ) 로봇 패치
                    li.nav-item(role="presentation")
                        button#nav-trainer-tab.nav-link(
                            data-bs-toggle="tab",
                            data-bs-target="#nav-trainer",
                            type="button",
                            role="tab",
                            aria-controls="nav-trainer",
                            aria-selected="false"
                        ) 트레이너 패치
            #nav-tabContent.tab-content
                #nav-robot.tab-pane.fade.show.active(
                    role="tabpanel",
                    aria-labelledby="nav-robot-tab",
                    tabindex="0"
                )
                    .vstack.gap-4
                        .d-flex.justify-content-between.align-items-center
                            .hstack.gap-3
                                .hstack.gap-2.border.ps-3.pe-2.py-2.rounded-pill.bg-white
                                    input.form-control-plaintext.form-control-sm(
                                        type="text",
                                        placeholder="로봇명 검색"
                                    )
                                    button.btn.btn-primary.btn-icon.rounded-circle
                                        .hstack.justify-content-center
                                            i.bi.bi-search.d-inline-flex
                                .btn-group(role="group")
                                    input#settingTypeAo2.btn-check(
                                        type="radio",
                                        name="settingType",
                                        autocomplete="off",
                                        checked=""
                                    )
                                    label.btn.btn-outline-primary(
                                        for="settingTypeAo2"
                                    ) AO2
                                    input#settingTypeAo3.btn-check(
                                        type="radio",
                                        name="settingType",
                                        autocomplete="off"
                                    )
                                    label.btn.btn-outline-primary(
                                        for="settingTypeAo3"
                                    ) AO3
                            .hstack.gap-3
                                button.btn.btn-secondary
                                    .hstack.gap-2
                                        i.bi.bi-plus-lg.lh-1
                                        span 파일 추가
                                button.btn.btn-primary
                                    .hstack.gap-2
                                        i.bi.bi-check-lg.lh-1
                                        span 패치 적용
                        .table-responsive
                            table#allRobotTable.table.table-bordered
                                thead
                                    tr
                                        th
                                            .form-check
                                                input#checkAll.form-check-input.border-1(
                                                    type="checkbox",
                                                    name="boardCheck",
                                                    value="checkAll"
                                                )
                                        th #[span 번호]
                                        th #[span 로봇명]
                                        th #[span 상태]
                                        th #[span 설명]
                                        th #[span CPU]
                                        th #[span Memory]
                                        th #[span Disk]
                                        th #[span 승인]
                                        th #[span 수정]
                                tbody
                                    - for (let index = 1; index <= 10; index++)
                                        +robotTableBody(index)
                        +pagination
                #nav-trainer.tab-pane.fade(
                    role="tabpanel",
                    aria-labelledby="nav-trainer-tab",
                    tabindex="0"
                ) ...
