extends ../../../templates/project

mixin robotTableBody(index)
    tr
        td
            .form-check
                input.form-check-input.board-check(
                    id=`check${index}`,
                    type="checkbox",
                    name="boardCheck",
                    value=`check${index}`
                ) 
        td= index
        td #[span= `ibizbot-${index}`]
        td #[span 미접속]
        td #[span= `10.30.1.${index}`]
        td #[span 3.310.0.246]
        td
            select.form-select
                option AutomateOne_Bot_3.301.0.231_Update_x64
                option AutomateOne_Bot_3.301.0.230_Update_x64
                option AutomateOne_Bot_3.301.0.229_Update_x64
        td #[span= `2022-06-${index} 18:10:${index}`]
        td #[span 완료]

block contents
    +breadcrumb(["로봇 & 트레이너", "패치 관리"], "main")
    section#wrapper
        .vstack.gap-4.px-5.py-4
            h4.fw-bold 패치 관리
            nav
                ul.nav.nav-tabs(role="tablist")
                    li.nav-item(role="presentation")
                        button#nav-robot-tab.nav-link.active(
                            data-bs-toggle="tab",
                            data-bs-target="#nav-robot",
                            type="button",
                            role="tab",
                            aria-controls="nav-robot",
                            aria-selected="true"
                        ) 로봇 패치
                    li.nav-item(role="presentation")
                        button#nav-trainer-tab.nav-link(
                            data-bs-toggle="tab",
                            data-bs-target="#nav-trainer",
                            type="button",
                            role="tab",
                            aria-controls="nav-trainer",
                            aria-selected="false"
                        ) 트레이너 패치
            #nav-tabContent.tab-content
                #nav-robot.tab-pane.fade.show.active(
                    role="tabpanel",
                    aria-labelledby="nav-robot-tab",
                    tabindex="0"
                )
                    .vstack.gap-4
                        .d-flex.justify-content-between.align-items-center
                            .hstack.gap-3
                                .hstack.gap-2.border.ps-3.pe-2.py-2.rounded-pill.bg-white
                                    input.form-control-plaintext.form-control-sm(
                                        type="text",
                                        placeholder="로봇명 검색"
                                    )
                                    button.btn.btn-primary.btn-icon.rounded-circle
                                        .hstack.justify-content-center
                                            i.bi.bi-search.d-inline-flex
                                .btn-group(role="group")
                                    input#settingRobotTypeAo2.btn-check(
                                        type="radio",
                                        name="settingRobotType",
                                        autocomplete="off",
                                        checked=""
                                    )
                                    label.btn.btn-outline-primary(
                                        for="settingTypeAo2"
                                    ) AO2
                                    input#settingRobotTypeAo3.btn-check(
                                        type="radio",
                                        name="settingRobotType",
                                        autocomplete="off"
                                    )
                                    label.btn.btn-outline-primary(
                                        for="settingTypeAo3"
                                    ) AO3
                            .hstack.gap-3
                                button.btn.btn-primary
                                    .hstack.gap-2
                                        i.bi.bi-plus-lg.lh-1
                                        span 파일 추가
                                button.btn.btn-primary
                                    .hstack.gap-2
                                        i.bi.bi-check-lg.lh-1
                                        span 패치 적용
                        .table-responsive
                            table#patchRobotTable.table.table-bordered
                                thead
                                    tr
                                        th
                                            .form-check
                                                input#checkAll.form-check-input.border-1(
                                                    type="checkbox",
                                                    name="boardCheck",
                                                    value="checkAll"
                                                )
                                        th #[span 번호]
                                        th #[span 로봇명]
                                        th #[span 로봇 상태]
                                        th #[span 로봇 IP]
                                        th #[span 현재 버전]
                                        th #[span 패치 버전]
                                        th #[span 업데이트 실행일]
                                        th #[span 실행 상태]
                                tbody
                                    - for (let index = 1; index <= 10; index++)
                                        +robotTableBody(index)
                        +pagination
                #nav-trainer.tab-pane.fade(
                    role="tabpanel",
                    aria-labelledby="nav-trainer-tab",
                    tabindex="0"
                )
                    .vstack.gap-4
                        .d-flex.justify-content-between.align-items-center
                            legend.w-auto 트레이너 패치 기본설정
                            .hstack.gap-3
                                button.btn.btn-secondary
                                    .hstack.gap-2
                                        i.bi.bi-x-lg.lh-1
                                        span 기본설정 해제
                        .card
                            .card-body
                                .row.gx-4.gy-2
                                    label.col-3.col-form-label
                                        span.fw-bold 버전
                                    .col-9.col-form-label
                                        span 3.210.0.246
                                    label.col-3.col-form-label
                                        span.fw-bold 파일명
                                    .col-9.col-form-label
                                        span AutomateOne3_Trainer_3.210.0.246_Update_x64.exe
                        .d-flex.justify-content-between.align-items-center
                            .btn-group(role="group")
                                input#settingTrainerTypeAo3.btn-check(
                                    type="radio",
                                    name="settingTrainerType",
                                    autocomplete="off",
                                    checked=""
                                )
                                label.btn.btn-outline-primary(
                                    for="settingTrainerTypeAo3"
                                ) AO3
                            .hstack.gap-3
                                button.btn.btn-primary
                                    .hstack.gap-2
                                        i.bi.bi-check-lg.lh-1
                                        span 기본설정 등록
                                button.btn.btn-primary
                                    .hstack.gap-2
                                        i.bi.bi-plus-lg.lh-1
                                        span 파일 추가
                                button.btn.btn-secondary
                                    .hstack.gap-2
                                        i.bi.bi-x-lg.lh-1
                                        span 파일 삭제
                        .table-responsive
                            table#patchRobotTable.table.table-bordered
                                thead
                                    tr
                                        th
                                            .form-check
                                                input#checkAll.form-check-input.border-1(
                                                    type="checkbox",
                                                    name="boardCheck",
                                                    value="checkAll"
                                                )
                                        th #[span 번호]
                                        th #[span 로봇명]
                                        th #[span 로봇 상태]
                                        th #[span 로봇 IP]
                                        th #[span 현재 버전]
                                        th #[span 패치 버전]
                                        th #[span 업데이트 실행일]
                                        th #[span 실행 상태]
                                tbody
                                    - for (let index = 1; index <= 10; index++)
                                        +robotTableBody(index)
                        +pagination
