mixin breadcrumb(path, status)
    nav.border-bottom.bg-white.fixed-top(aria-label="breadcrumb")
        .ps-4.pe-5.h-100
            if !status
                .d-flex.justify-content-between.align-items-center.h-100
                    .hstack.gap-2
                        i#projectFav.bi.bi-star-fill.fs-5
                        .dropdown
                            button.btn.btn-light.dropdown-toggle(
                                type="button",
                                data-bs-toggle="dropdown",
                                aria-expanded="false"
                            ) 샘플 프로젝트
                            ul#projectChoice.dropdown-menu
                                li
                                    a.dropdown-item(href="#") 샘플 프로젝트
                                li
                                    a.dropdown-item(href="#") 사내시스템 점검
                                li
                                    a.dropdown-item(href="#") AO3 데이터셋 사용하기
                    ol.row.g-0.breadcrumb.h-100
                        li.col-auto.breadcrumb-item
                            img(src="/src/assets/images/ic_home.png")
                        each val in path
                            li.col-auto.breadcrumb-item
                                span= val
            else
                .d-flex.justify-content-end.align-items-center.h-100
                    ol.row.g-0.breadcrumb.h-100
                        li.col-auto.breadcrumb-item
                            img(src="/src/assets/images/ic_home.png")
                        each val in path
                            li.col-auto.breadcrumb-item
                                span= val

mixin pagination(option)
    nav(aria-label="pagination", class=option)
        ul.pagination.justify-content-center
            li.page-item.disabled
                a.page-link(href="#", aria-label="Previous")
                    span(aria-hidden="true")
                        i.bi.bi-chevron-double-left
            li.page-item.disabled
                a.page-link(href="#", aria-label="Previous")
                    span(aria-hidden="true")
                        i.bi.bi-chevron-left
            li.page-item.active
                a.page-link(href="#") 1
            li.page-item
                a.page-link(href="#") 2
            li.page-item
                a.page-link(href="#") 3
            li.page-item
                a.page-link(href="#", aria-label="Next")
                    span(aria-hidden="true")
                        i.bi.bi-chevron-right
            li.page-item
                a.page-link(href="#", aria-label="Next")
                    span(aria-hidden="true")
                        i.bi.bi-chevron-double-right
