extends ../../templates/base

block contents
    +breadcrumb(["프로세스", "데이터셋 관리"])
    section#wrapper
        .vstack.gap-4.px-5.py-4
            .d-flex.justify-content-between.align-items-center
                h4.fw-bold 데이터셋 관리
                .hstack.gap-3
                    a.btn.btn-secondary(href="/src/view/process/dataset.pug")
                        .hstack.gap-2
                            i.bi.bi-list.lh-1
                            span 목록
                    button.btn.btn-primary(
                        data-bs-toggle="modal",
                        data-bs-target="#saveCheckModal"
                    )
                        .hstack.gap-2
                            i.bi.bi-save.lh-1
                            span 저장
            .vstack.gap-2
                label.form-label.fw-bold(for="newDatasetName") 데이터셋명
                input#newDatasetName.form-control(type="text", readonly)
            .vstack.gap-2
                label.form-label.fw-bold(for="newDatasetExplain") 설명
                textarea#newDatasetExplain.form-control(rows="5", readonly)
            .dynamic-table.vstack.gap-3
                .hstack.justify-content-between
                    legend.w-auto 데이터 관리
                    button.btn.row-add-btn.btn-primary(type="button")
                        .hstack.gap-2
                            i.bi.bi-plus-circle
                            span.lh-1 행 추가
                .table-responsive
                    table#datasetManageTable.table.table-bordered
                        thead
                            tr
                                th(data-gr-class="row-idx", data-gr-tag="span") 번호
                                th(
                                    data-gr-class="py-0",
                                    data-gr-tag="input",
                                    data-gr-tag-class="form-control form-control-sm lh-sm rounded-0 border-0",
                                    data-gr-tag-type="text",
                                    data-gr-tag-name="category"
                                ) 데이터셋명#1
                                th(
                                    data-gr-class="py-0",
                                    data-gr-tag="input",
                                    data-gr-tag-class="form-control form-control-sm lh-sm rounded-0 border-0",
                                    data-gr-tag-type="text",
                                    data-gr-tag-name="describe"
                                ) 데이터셋명#2
                                th(
                                    data-gr-class="py-0",
                                    data-gr-tag="input",
                                    data-gr-tag-class="form-control form-control-sm lh-sm rounded-0 border-0",
                                    data-gr-tag-type="text",
                                    data-gr-tag-name="describe"
                                ) 데이터셋명#3
                                th(
                                    data-gr-tag="button",
                                    data-gr-tag-class="btn btn-sm btn-danger py-0 row-remove-btn",
                                    data-gr-tag-name="remove",
                                    data-gr-tag-inner="삭제"
                                ) 삭제
                        tbody
                            tr
                                td.row-idx 1
                                td.py-0
                                    input#dataset1-1.form-control.form-control-sm.lh-sm.rounded-0.border-0.row-control(
                                        type="text",
                                        name="category"
                                    )
                                td.py-0
                                    input#dataset2-1.form-control.form-control-sm.lh-sm.rounded-0.border-0.row-control(
                                        type="text",
                                        name="describe"
                                    )
                                td.py-0
                                    input#dataset3-1.form-control.form-control-sm.lh-sm.rounded-0.border-0.row-control(
                                        type="text",
                                        name="describe"
                                    )
                                td
                                    button#remove-1.btn.btn-sm.btn-danger.py-0.row-remove-btn.row-control(
                                        name="remove"
                                    ) 삭제

block modal
    +saveCheckModal("/src/view/process/dataset.pug")
