extends ../../templates/base

block contents
    +breadcrumb(["프로세스", "프로세스 관리"])
    section#wrapper
        .vstack.gap-4.px-5.py-4
            h4.fw-bold 프로세스 관리
            .d-flex.justify-content-between.align-items-center
                .hstack.gap-3
                    .hstack.gap-2.border.ps-3.pe-2.py-2.rounded-pill
                        input.form-control-plaintext.form-control-sm(
                            type="text",
                            placeholder="프로세스명 검색"
                        )
                        button.btn.btn-primary.btn-icon.rounded-circle
                            .hstack.justify-content-center
                                i.bi.bi-search.d-inline-flex
                    button#excelDownload.btn.btn-success
                        .hstack.gap-2
                            i.bi.bi-file-earmark-spreadsheet
                            span 엑셀 다운로드
                .hstack.gap-2
                    button.btn.btn-primary(
                        data-bs-toggle="modal",
                        data-bs-target="#newScriptModal"
                    )
                        .hstack.gap-2
                            i.bi.bi-plus-lg
                            span 프로세스 등록
                    button.btn.btn-secondary(
                        data-bs-toggle="modal",
                        data-bs-target="#deleteCheckModal"
                    )
                        .hstack.gap-2
                            i.bi.bi-x-lg
                            span 프로세스 삭제
            .table-responsive
                table#manageProcessTable.table.table-bordered
                    thead
                        tr
                            th
                                .form-check
                                    input#checkAll.form-check-input.border-1(
                                        type="checkbox",
                                        name="boardCheck",
                                        value="checkAll"
                                    ) 
                            th #[span 번호]
                            th #[span 프로세스명]
                            th #[span 로봇그룹]
                            th #[span 스크립트]
                            th #[span 데이터셋]
                            th #[span 결과 데이터셋]
                            th #[span 로봇 설정]
                            th #[span 등록일]
                            th #[span 수정]
                    tbody
                        tr
                            td
                                .form-check
                                    input#board1.form-check-input(
                                        type="checkbox",
                                        name="boardCheck",
                                        value="board1"
                                    )
                            td #[span 1]
                            td #[span 디지털마케팅 업무]
                            td #[span 디지털마케팅봇]
                            td #[span 디지털마케팅 주보 업무]
                            td #[span COM00050_I_01]
                            td #[span COM00050_I_01]
                            td #[span COM00050_I_01]
                            td #[small.text-muted.lh-sm 2022-04-05 #[br] 14:18:45]
                            td
                                a.btn.btn-sm.btn-secondary.py-0(href="#")
                                    span.me-1 수정
                                    i.bi.bi-pencil-fill
            +pagination

block modal
    #newScriptModal.modal.fade(
        tabindex="-1",
        aria-labelledby="newScriptModal",
        aria-hidden="true"
    )
        .modal-dialog.modal-lg.modal-dialog-centered.modal-dialog-scrollable
            .modal-content.text-center
                .modal-body
                    .vstack.gap-3
                        .vstack.gap-2
                            label.form-label.text-start.fw-bold(
                                for="newScriptName"
                            ) 스크립트명
                            input#newScriptGitUrl.form-control(type="text")
                        .vstack.gap-2
                            label.form-label.text-start.fw-bold(
                                for="newScriptGitUrl"
                            ) Git URL
                            input#newScriptGitUrl.form-control(
                                type="text",
                                value="https://10.10.1.148:8033/automateone_git/r/~NzM/Mjc1.git",
                                readonly
                            )
                .modal-footer.justify-content-center
                    .hstack.gap-3.w-100
                        button.btn.btn-lg.btn-primary.w-100(
                            data-bs-dismiss="modal",
                            aria-label="Close"
                        ) 등록
                        button.btn.btn-lg.btn-secondary.w-100(
                            data-bs-dismiss="modal",
                            aria-label="Close"
                        ) 취소
