extends ../../templates/base

block contents
    +breadcrumb(["프로세스", "스크립트 수정"])
    section#wrapper
        .vstack.gap-4.px-5.py-4
            .d-flex.justify-content-between.align-items-center
                h4.fw-bold 스크립트 수정
                .hstack.gap-3
                    a.btn.btn-secondary(href="/src/view/process/script.pug")
                        .hstack.gap-2
                            i.bi.bi-list.lh-1
                            span 목록
                    button.btn.btn-primary(
                        data-bs-toggle="modal",
                        data-bs-target="#saveCheckModal"
                    )
                        .hstack.gap-2
                            i.bi.bi-save.lh-1
                            span 저장
            .row.g-4
                .col-12.col-lg-6
                    .vstack.gap-2
                        label.form-label.fw-bold(for="scriptTitle") 스크립트명
                        input#scriptTitle.form-control(type="text")
                .col-12.col-lg-6
                    .vstack.gap-2
                        label.form-label.fw-bold(for="scriptGitUrl") Git URL
                        input#scriptGitUrl.form-control(
                            type="text",
                            value="https://10.10.1.148:8033/automateone_git/r/~NzM/Mjc1.git",
                            readonly
                        )
            .hstack.justify-content-between
                legend.w-auto 스크립트 버전 관리
                .hstack.gap-3
                    button.btn.btn-primary(
                        data-bs-toggle="modal",
                        data-bs-target="#newScriptFileModal"
                    )
                        .hstack.gap-2
                            i.bi.bi-plus-lg.lh-1
                            span 스크립트 등록
                    button.btn.btn-secondary(
                        data-bs-toggle="modal",
                        data-bs-target="#deleteCheckModal"
                    )
                        .hstack.gap-2
                            i.bi.bi-x-lg.lh-1
                            span 스크립트 삭제
            .table-responsive
                table#scriptHistoryTable.table.table-bordered
                    thead
                        tr
                            th
                                .form-check
                                    input#checkAll.form-check-input(
                                        type="checkbox",
                                        name="boardCheck",
                                        value="checkAll"
                                    ) 
                            th #[span 버전]
                            th #[span 파일명]
                            th #[span 설명]
                            th #[span 등록자]
                            th #[span 등록일]
                            th #[span 저장]
                    tbody
                        tr
                            td
                                .form-check
                                    input#board3.form-check-input.board-check(
                                        type="checkbox",
                                        name="boardCheck",
                                        value="board1"
                                    )
                            td #[span 3]
                            td
                                a.hstack.gap-1.highlight-item(href="#")
                                    i.bi.bi-download.text-muted
                                    span 디지털마케팅팀 주보 업무.zip
                            td
                                input.form-control-plaintext.py-0(
                                    type="text",
                                    value="디지털마케팅팀 주보 업무"
                                )
                            td #[span admin]
                            td #[small.text-muted.lh-sm 2022-04-05 #[br] 14:18:45]
                            td
                                button.btn.btn-sm.btn-primary.py-0
                                    span.me-1 저장
                                    i.bi.bi-check-lg
                        tr
                            td
                                .form-check
                                    input#board2.form-check-input.board-check(
                                        type="checkbox",
                                        name="boardCheck",
                                        value="board1"
                                    )
                            td #[span 2]
                            td
                                a.hstack.gap-1.highlight-item(href="#")
                                    i.bi.bi-download.text-muted
                                    span 디지털마케팅팀 주보 업무.zip
                            td
                                input.form-control-plaintext.py-0(
                                    type="text",
                                    value="디지털마케팅팀 주보 업무"
                                )
                            td #[span admin]
                            td #[small.text-muted.lh-sm 2022-04-05 #[br] 14:18:45]
                            td
                                button.btn.btn-sm.btn-primary.py-0
                                    span.me-1 저장
                                    i.bi.bi-check-lg
                        tr
                            td
                                .form-check
                                    input#board1.form-check-input.board-check(
                                        type="checkbox",
                                        name="boardCheck",
                                        value="board1"
                                    )
                            td #[span 1]
                            td
                                a.hstack.gap-1.highlight-item(href="#")
                                    i.bi.bi-download.text-muted
                                    span 디지털마케팅팀 주보 업무.zip
                            td
                                input.form-control-plaintext.py-0(
                                    type="text",
                                    value="디지털마케팅팀 주보 업무"
                                )
                            td #[span admin]
                            td #[small.text-muted.lh-sm 2022-04-05 #[br] 14:18:45]
                            td
                                button.btn.btn-sm.btn-primary.py-0
                                    span.me-1 저장
                                    i.bi.bi-check-lg
            legend 플로우차트
            .card
                .card-body
                    .ratio.ratio-16x9
                        img(
                            src="/src/assets/images/flowchart_sample.png",
                            alt="플로우차트 샘플"
                        )

block modal
    +saveCheckModal("/src/view/process/script.pug")
    #newScriptFileModal.modal.fade(
        tabindex="-1",
        aria-labelledby="newScriptFileModal",
        aria-hidden="true"
    )
        .modal-dialog.modal-lg.modal-dialog-centered.modal-dialog-scrollable
            .modal-content.text-center
                .modal-body
                    .vstack.gap-3
                        .vstack.gap-2
                            label.form-label.text-start.fw-bold(
                                for="newScriptFile"
                            ) 스크립트 파일
                            input#newScriptFile.form-control(type="file")
                        .vstack.gap-2
                            label.form-label.text-start.fw-bold(
                                for="newScriptExplain"
                            ) 설명
                            textarea#newScriptExplain.form-control(rows="5")
                .modal-footer.justify-content-center
                    .hstack.gap-3.w-100
                        button.btn.btn-lg.btn-primary.w-100(
                            data-bs-dismiss="modal",
                            aria-label="Close"
                        ) 확인
                        button.btn.btn-lg.btn-secondary.w-100(
                            data-bs-dismiss="modal",
                            aria-label="Close"
                        ) 취소
