extends ../../templates/base

block contents
    +breadcrumb(["프로세스", "스크립트 관리"])
    section#wrapper
        .vstack.gap-4.px-5.py-4
            h4.fw-bold 스크립트 관리
            .d-flex.justify-content-between.align-items-center
                .hstack.gap-3
                    .hstack.gap-2.border.ps-3.pe-2.py-2.rounded-pill.bg-white
                        input.form-control-plaintext.form-control-sm(
                            type="text",
                            placeholder="스크립트명 검색"
                        )
                        button.btn.btn-primary.btn-icon.rounded-circle
                            .hstack.justify-content-center
                                i.bi.bi-search.d-inline-flex
                    button.btn.btn-success
                        .hstack.gap-2
                            i.bi.bi-file-earmark-spreadsheet
                            span 엑셀 다운로드
                .hstack.gap-2
                    button.btn.btn-secondary
                        .hstack.gap-2
                            i.bi.bi-git
                            span GIT 스크립트 동기화
                    button.btn.btn-primary
                        .hstack.gap-2
                            i.bi.bi-plus-lg
                            span 스크립트 추가
                    button.btn.btn-secondary
                        .hstack.gap-2
                            i.bi.bi-x-lg
                            span 스크립트 삭제
            .table-responsive
                table#manageScriptTable.table.table-bordered
                    thead
                        tr
                            th
                                .form-check
                                    input#checkAll.form-check-input.border-1(
                                        type="checkbox",
                                        name="boardCheck",
                                        value="checkAll"
                                    ) 
                            th #[span 번호]
                            th #[span 스크립트명]
                            th #[span GIT URL]
                            th #[span 버전]
                            th #[span 등록일]
                            th #[span 수정]
                    tbody
                        tr
                            td
                                .form-check
                                    input#board1.form-check-input.board-check(
                                        type="checkbox",
                                        name="boardCheck",
                                        value="board1"
                                    )
                            td #[span 1]
                            td #[span 디지털마케팅팀 주보 업무]
                            td #[span https://10.10.1.148:8033/automateone_git/r/~NzM/Mjc1.git]
                            td #[span 5]
                            td #[span 2022-02-22 16:57:22]
                            td
                                a.btn.btn-sm.btn-primary.py-0(
                                    href="/src/view/process/script-modify.pug"
                                )
                                    span.me-1 수정
                                    i.bi.bi-pencil-fill
            +pagination
